body {
	background: orange;
}
.menu {
	background: brown;
	overflow: hidden;
}
.menu ul {
	list-style-type: none;
	padding: 10px;
}
.menu li a {
	font-family: Boogaloo, cursive;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
}
.font {
	font-family: Boogaloo, cursive;
	color: white;
	font-weight: 600;

}
.menu li {
	margin-top: 18px;
	margin-right: 30px;
	margin-left: 30px;
	display: inline-block;
}
#states {
	color: darkorange;
}
a:hover {
	color:orange;
}
.menu .logo img{
	height: 70px;
}
.logo {
	float: left;
	margin-top: 15px;
}
.flex {

}
.flex ul {
	list-style-type: none;
	background: darkorange;
	display: flex;
	justify-content: space-around;
}
.flex li {
	background: yellow;
	margin: 30px;
	width:100px;
	height: 50px;
	border: 2px solid brown;
	text-align: center;
	line-height: 50px;
}
----
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}
.footer {
	background: brown;
	overflow: hidden;
	padding: 20px 20px 10px 20px;
}
.kor {
	margin: auto 10px;
	color:white; 
}
.ddd {
	display: flex;
}
.phone {
	height: 20px;
}
.mail {
	height: 20px;
}